.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;
}

.nav2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
}

.nav2 h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}